<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TWITTER_BEARER_TOKEN" value="AAAAAAAAAAAAAAAAAAAAABV1fAEAAAAASA%2FQZ0SJVwxbTRiJE12IH2YzInM%3DjiBt5vfWqioRnx4gzZ8ku6l80PVg6xVE00h3rZGkqtbqolfzgM"/>
    <add key="TWITTER_API_URL" value="https://api.twitter.com/"/>
    
  </appSettings>
</configuration>